@font-face {
    font-family: 'zoofont';
    src: url('/font/BuffonStandard-Bold.woff2');
}
*{
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'zoofont';
    background-color: chocolate;
    width: 120em;
    height: 5em;
}
.museum {
    margin-left: 3em;
    font-size: 1.6em;
}

.menu {
    font-family: 'zoofont';
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: red;
    width: 50%;
    height: 100%;
}